body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;

}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    gap: 5px;

}

img {
    width: 100px;
    height: 130px;
    margin: 5px;
    object-fit: cover;
}