body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    background-color: aqua;

}

#grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 65%;
    gap: 5px;

}

img {
    width: 100px;
    height: 130px;
    margin: 5px;
    object-fit: cover;
}

.homescreen {
    background-color: white;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}